
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: burlywood;
    padding: 20px;
    height: 20vh;
    font-size: 2rem;
}

main {
    display: flex;
    flex-direction: row;

}


#mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: aqua;
    height: auto;
    width: 50%;
    padding: 40px;
    font-size: 2rem;
}

#cityDetailsContainer {
    background-color: chartreuse;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: auto;
    width: 50%;
    padding: 40px;
    font-size: 2rem;
}

#footerContainer {
    padding: 20px;
    gap: 20px;
    background-color: chocolate;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: whitesmoke;
    text-align: center;
}

.landcitiesIHaveVisited {

    outline: purple 5px solid;
}

.cityThumbnail {

    border: 5px solid red;
    
}