body {
  margin: 0%;
  background-color: black;
}

#navBar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    background-color: black;
    padding: 20px;
    height: 15vh;
    font-size: 1.4rem;
    color: snow;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: underline;
    transition-duration: 0.5s;
    transition:ease-in-out
}

nav div:hover {
  color: goldenrod;
  font-size: 1.6rem;
  cursor: pointer;
}

main {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(36, 36, 36);
}
.logo {
  opacity: 0;
}

#mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  height: auto;
  width: 50%;
  padding: 10px;
}
#mainContainer div {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    padding: 10px;
    color: snow;
    transition-duration: 0.4s;
    transition: ease-in-out;
}

#mainContainer div:hover {
    color: goldenrod;
    font-size: 1.6rem;
}

#cityDetailsContainer {
    background-color: rgb(36, 36, 36);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    height: auto;
    width: 50%;
    padding: 10px;
    padding-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 1rem;
    color: snow;
}

#cityDetailsContainer div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#cityDetailsContainer div div {
    padding: 30px;
}

#footerContainer {
  padding: 20px;
  gap: 20px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: whitesmoke;
  text-align: center;
}

.cityThumbnail {
  border-radius: 5%;
}

#visitedBtn {
  background-color: white;
  color: black;
  border: 2px solid #555555;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
}

#visitedBtn:hover {
  background-color: #555555;
  color: white;
}

#clearVisitedStorageBtn {
  background-color: white;
  color: black;
  border: 2px solid #555555;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 4px 2px;
  transition-duration: 0.4s;
}

#clearVisitedStorageBtn:hover {
  background-color: #555555;
  color: white;
}

footer img {
  opacity: 50%;
  border: whitesmoke solid 1px;
  border-radius: 15%;
}

footer img:hover {
  border: goldenrod 1px solid;
  border-radius: 15%;
  opacity: 100%;
}
